*{
    margin:0px;
    padding:0px;
}
body{
    margin:0px;
    padding-left:0px;
    background-color: rgba(236, 235, 235, 0.877) !important;

}

ul.topnav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#333;
    position: sticky;
    top:0;
}
ul.topnav li{
    float:left;
}
ul.topnav li button:hover:not(.active) {background-color: #111;}

ul.topnav li button.active {
    background-color: #18b66c;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}