*{
    margin:0px;
    padding:0px;
}
body{
    margin:0px;
    padding-left:0px;
    background-color: rgba(236, 235, 235, 0.877) !important;
    overflow-x: hidden;
}
ul.topnav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#333;
    position: sticky;
    top:0;
}
ul.topnav li{
    float:left;
}
ul.topnav li button:hover:not(.active) {background-color: #111;}

ul.topnav li button.active {background-color: #18b66c;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}
#intro{
    font-size:30px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    margin-left:30px;
    margin-bottom: 10px;
}
.quest{
    border:none;
    background-color: rgba(236, 235, 235, 0.877);
    color: black;
    font-size:22px;
    font-weight:bold;
    font-family: 'Times New Roman', Times, serif;
    padding-left:65px;
}
.negat{
    border:none;
    background-color: rgba(236, 235, 235, 0.877);
    color: rgb(66, 66, 66);
    font-size:20px;
    font-weight:bold;
    font-family: 'sans-serif';
    padding-left:65px;
    padding-bottom:20px;
}
.showans{
    padding-left:65px;
    padding-top:20px;
}
.showans span{
    font-size:15px;
    font-weight: bold;
    border-left: 6px solid #18b66c;
    background-color: rgb(197, 194, 194);
    display:inline-block;
    width: 1600px;
    font-family:'Calibri';
}
.showans span span{
    font-size: 18px;
    font-weight:normal;
    display:inline-block;
    font-family: 'Georgia';
}
#pref{
    font-family: 'Times New Roman';
    font-weight: 'bold';
    font-size: 25px;
}
.custom-select{
    position: relative;
    font-family: Arial;
    width:280px;
    padding-left: 5%;
}
.custom-select select {
    display: none; /*hide original SELECT element:*/
  }
  
  
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
  }
  
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: #18b66c;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    margin-left:67px;   
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }

.filter{
    color: white;
    border-radius: 8px;
    background: #18b66c;
    font-size:16px;
    padding:6px 20px;
    border:none;
    text-decoration:none;
    transition-duration: 0.4s;
    cursor: pointer;
    
}
.but{
    background-color: rgba(236, 235, 235, 0.877); 
    color: black; 
    border: 2px solid #18b66c;
}
.but:hover {
    background-color: #18b66c;
    color: white;
  }